@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
*,*>*{
  font-family: 'Space Grotesk', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  
}
.section{
  display: flex;

  padding:0;
 
  
}
.card-section{
height: 100vh;
  background-image: url(images/images/bg-main-desktop.png);
  width: 40%;
  background-repeat: no-repeat;


}
.back-card{
  position: relative;
  top: 300px;
  left: 300px;


}
.back-img{
  position:absolute;
  width: 300px;
 
background-repeat: no-repeat;
  object-fit: cover;
  
}
.cvc{
  position:absolute;
  color: white;
  z-index: 1;
  top: 70px;
  left: 245px;
  font-size: 11px;

}

.front-card{
  position: relative;
  top: 90px;
  left: 250px;

}
.front-img{
  position:absolute;
  width: 300px;
 

background-repeat: no-repeat;
  object-fit: cover;

  
}
.card-logo{
  position:absolute;
  z-index: 1;
  width: 10%;
  left: 20px;
  top: 25px;
 

}
.card-no{
position: absolute;
z-index: 1;
font-size: 16px;
color: white;
left: 70px;
top: 100px;
}
.span{
  position:absolute;
  z-index: 1;
  font-size: 12px;
color: white;
display: flex;
gap: 179px;
left: 20px;
top: 125px;


}
.name{
  width: 90%;
  background-color: brown;
}
.year{
  width: 10%;
}
form{
  margin-top: 200px;
  margin-left: 199px;

 
}
.form-control{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.form-cvc{
  display: flex;
  flex-direction: column;
  width: 60%;
  
}
.form-exp{
  display: flex;
  flex-direction: column;
  width: 40%;
 
}
label{
  font-size: 12px;
  margin-bottom:10px ;
  font-weight: bold;
}
.card-input{
  padding: 5px;
  width: 70%;
  border-radius: 6px;
  border-color: gray;
}
::placeholder{
  border-color: blue;
}

.exp-cvc{
  display: flex;
  margin-top: 20px;
}
.input-exp-1{
  padding: 5px;
  width: 40%;
  border-radius: 6px;
  border-color: gray;
}
.input-exp-2{
  padding: 5px;
  width: 40%;
  border-radius: 6px;
  border-color: gray;
}
.input-cvc{
  padding: 5px;
  width: 51%;
  border-radius: 6px;
  border-color: gray;
}
.btn-wrap{
  margin-top: 15px;
}
button{
  padding: 10px;
  background-color: black;
  color: white;
  width: 70%;
  border-radius: 6px;
}
@media screen and (max-width: 992px) {
 
  .section{
  flex-direction: column;

   
  }
  .card-section{
 height: 40vh;
     background-image: url(images/images/bg-main-mobile.png);
  width: 100%;
     background-repeat: no-repeat;
     position: relative;
   
   
   }
   .front-card{
    position: relative;
    top: 100px;
    left: 20px;
    z-index: 1;
  
  }
  .back-card{
    position: relative;
    top: 0;
    left: 50px;
  
  
  }
  .form-section{
    width: 100%;
  }
  form{
  margin-top: 40px;
  margin-left: 50px;
  }
  .form-control{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .form-cvc{
    display: flex;
    flex-direction: column;
  }
  .form-exp{
    display: flex;
    flex-direction: column;
  }
  .card-input{
    
  }
  input::placeholder{
    font-family: inherit;
    color: var(--Dark-grayish-violet);
}
input:focus{
    outline-color: hsl(249, 99%, 64%);
}

  
  .exp-cvc{
    display: flex;
    margin-top: 20px;
  }
  .input-exp-1{
    width: 40%;
  }
  .input-exp-2{
    width: 40%;
  }
  .input-exp{
 
    width: 100%;
    border-radius: 6px;
    border-color: gray;
  }
}

